.mySlides {
    height: 500px;
    width: 50%;
}

img {
    width: 200px;
}

body {
    background-color: #deb878;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    .mySlides {
        display: none;
        max-height: 100%;
        max-width: 100%;
    }
}